.authorization__input {
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #CCCCCC;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    color: #FFFFFF;

}